<div th:fragment="pag" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-5 col-sm-12">
        <div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite"></div>
    </div>
    <div class="col-md-7 col-sm-12">
        <div th:if="${page.pages gt 0}" class="btn-arrow-link pull-right" id="sample_6_paginate" style="width: 612px;">
            <ul class="pagination">
                <!-- 首页 -->
                <li class="paginate_button previous" th:classappend="${page.firstPage} ? disabled : ''"
                    aria-controls="sample_6" tabindex="0">
                    <a th:href="!${page.firstPage} ? |javascript:void(0);|"
                       th:onclick="!${page.firstPage} ? |javascript:$.pageSkip(this);|" th:attr="pageIndex=0">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                <!-- 上一页 -->
                <li class="paginate_button previous" th:classappend="${page.prePage}==0 ? disabled : ''"  aria-controls="sample_6" tabindex="0">
                    <a th:href="!${page.firstPage} ? |javascript:void(0);|" th:onclick="|javascript:$.pageSkip(this);|"
                       th:attr="pageIndex=*{page.prePage} ? ${page.prePage} : 0">  <i class="fa fa-angle-left"></i>
                    </a>
                </li>
                <!-- 迭代生成页码 -->
                <li class="paginate_button">
                    <span th:if="${(page.prePage -2) gt 0}">...</span>
                </li>
                <li class="paginate_button "
                    th:each="i : ${#numbers.sequence(1, page.pages gt (page.pageNum + 2) ? page.pageNum + 3 : page.pages)}"
                    th:classappend="${(page.pageNum ) eq i} ? 'active' : ''">
                    <a th:if="${i ge (page.pageNum-1)}" th:attr="pageIndex=${i}" href="javascript:void(0);"
                       th:onclick="|javascript:$.pageSkip(this);|">
                        <span th:text="${i}"></span>
                    </a>
                </li>
                <li class="paginate_button">
                    <span th:if="${page.pages gt (page.prePage +3)}">...</span>
                </li>
                <!-- 下一页 -->
                <li class="paginate_button next" th:classappend="${page.lastPage} ? disabled : ''" aria-controls="sample_6"
                    tabindex="0">
                    <a th:href="!${page.lastPage} ? |javascript:void(0);|"
                       th:onclick="!${page.lastPage} ? |javascript:$.pageSkip(this);|"
                       th:attr="pageIndex=${page.nextPage}">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <!-- 尾页 -->
                <li class="paginate_button next" th:classappend="${page.lastPage} ? disabled : ''" aria-controls="sample_6"
                    tabindex="0">
                    <a th:href="!${page.lastPage} ? |javascript:void(0);|"
                       th:onclick="!${page.lastPage} ? |javascript:$.pageSkip(this);|"
                       th:attr="pageIndex=${page.pages} - 1">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
                <li>
                    <a>
                        共<span id="pageTotal" th:text="${page.total}"></span>条
                        共<span th:text="${page.pages}"></span>页
                        到第&nbsp;<input id="pageNum" name="pageNum" style="width: 20px;height: 18px;"  th:value="${page.pages}" maxlength="9" onpaste="return false;"/>&nbsp;页
                        <button type="submit" style="border: none;line-height: 12px;">跳转</button>
                    </a>
                </li>
            </ul>
            <input type="hidden" id="pageSize" name="pageSize" th:value="${page.pageSize}"/>
        </div>
    </div>
</div>

