<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head th:include="common/main_head :: head">
    <title>产品管理</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-quick-sidebar-over-content ">
<!-- BEGIN HEADER -->
<div th:include="common/main_body_head :: bodyHead"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div th:include="common/main_body_menu_up :: bodyMenuUp"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a th:href="@{/home}">主页</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a>产品管理</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a th:href="@{/product/list}">产品管理</a>
                    </li>
                </ul>
            </div>
            <form id="addForm" th:action="@{save}" th:method="post" class="form-horizontal" role="form">
                <div class="portlet box red-sunglo">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-plus"></i>产品添加
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label"><span class="required">* </span>地区：</label>
                            <div class="col-md-4 input">
                                <input type="hidden" id="areaId" name="areaId" class="areaId"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><span class="required">* </span>景区：</label>
                            <div class="col-md-4 input">
                                <select id="scenicSpotId" name="scenicSpotId" class="form-control">
                                    <option value="">请选择...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><span class="required">* </span>名称：</label>
                            <div class="col-md-4 input">
                                <input type="text" name="name" class="form-control" maxlength="20" placeholder="名称"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><span class="required">* </span>标题：</label>
                            <div class="col-md-4 input">
                                <input type="text" name="title" class="form-control" maxlength="50" placeholder="标题"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><span class="required">* </span>展示图片：</label>
                            <div class="col-md-4 input">
                                <input type="hidden" id="image" name="image" class="images"/>
                                <input type="file" name="uploadfile" accept="*"
                                       th:onchange="|javascript:uploadFile('addForm', 'image');|"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><span class="required">* </span>原价：</label>
                            <div class="col-md-4 input">
                                <input type="text" name="originalPrice" class="form-control" maxlength="200"
                                       placeholder="原价" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><span class="required">* </span>优惠价：</label>
                            <div class="col-md-4 input">
                                <input type="text" name="preferentialPrice" class="form-control" maxlength="200"
                                       placeholder="优惠价" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><span class="required">* </span>文本：</label>
                            <div class="col-md-4 input">
                                <textarea id="uploadText" name="uploadText" style="width: 100%;" rows="20"
                                          oninput="comment('prompt', this, '7000');" maxlength="7000"></textarea>
                                <p>还可以输入<span id="prompt">7000</span>字</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><span class="required">* </span>录音：</label>
                            <div class="col-md-4 input">
                            </div>
                        </div>

                        <div class=" form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn red-sunglo">提交</button>
                                    <button id="backButton" type="button" class="btn default">返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div th:include="common/main_body_footer :: bodyFooter" class="page-footer"></div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<div th:include="common/main_body_javascript :: js"></div>
<!-- END JAVASCRIPTS -->
<script th:inline="javascript">
    var $addForm = $("#addForm");
    var $area = $("#areaId");
    var $scenicSpotId = $("#scenicSpotId");

    jQuery(document).ready(function () {
        $area.lSelect({
            url: "/common/area"
        });

        jQuery.validator.addClassRules({
            areaId: {
                required: true
            },
            images: {
                required: true
            }
        });

        $addForm.validate({
            rules: {
                scenicSpotId: "required",
                name: {
                    required: true,
                    remote: {
                        url: "check_name",
                        cache: false
                    }
                },
                title: "required",
                originalPrice: "required",
                preferentialPrice: "required",
                uploadText: "required"

            }
        });
    });

    function queryScenicSopt() {
        $.ajax({
            url: "/product/query_scenic_spot",
            type: "POST",
            data: {areaId: $area.val()},
            dataType: "json",
            success: function (data) {
                var select = '<option value="">请选择...</option>';
                $.each(data, function (value, name) {
                    select += '<option value="' + value + '">' + name + '<\/option>';
                });
                $scenicSpotId.empty();
                $scenicSpotId.append(select);
            }
        });
    }

    //字数控制
    function comment(id, _this, number) {
        $("#" + id).text(number - $(_this).val().length);
    }
</script>
</body>
<!-- END BODY -->
</html>