<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.test.mapper.AdminMapper">
    <resultMap id="AdminResultMap" type="com.my.test.pojo.Admin">
        <id column="ADMIN_ID" property="adminId" jdbcType="BIGINT"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP"/>
        <result column="DEPARTMENT" property="department" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="IS_ENABLED" property="isEnabled" jdbcType="BOOLEAN"/>
        <result column="IS_LOCKED" property="isLocked" jdbcType="BOOLEAN"/>
        <result column="LOCKED_DATE" property="lockedDate" jdbcType="TIMESTAMP"/>
        <result column="LOGIN_DATE" property="loginDate" jdbcType="TIMESTAMP"/>
        <result column="LOGIN_FAILURE_COUNT" property="loginFailureCount" jdbcType="INTEGER"/>
        <result column="LOGIN_IP" property="loginIp" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="USERNAME" property="username" jdbcType="VARCHAR"/>
        <result column="NICKNAME" property="nickname" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="adminAndRoles" type="com.my.test.pojo.Admin" extends="AdminResultMap">
        <collection property="roles" ofType="com.my.test.pojo.Role">
            <id column="ROLES_ID" property="roleId" jdbcType="BIGINT"/>
            <result column="IS_SYSTEM" property="isSystem" jdbcType="VARCHAR"/>
            <result column="NAME" property="name" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        ADMIN_ID, CREATE_DATE, MODIFY_DATE, DEPARTMENT,EMAIL,IS_ENABLED,IS_LOCKED,LOCKED_DATE,LOGIN_DATE,LOGIN_FAILURE_COUNT,LOGIN_IP,NAME,PASSWORD,USERNAME,NICKNAME
    </sql>

    <select id="queryAdminInfo" parameterType="com.my.test.pojo.Admin" resultMap="adminAndRoles">
        SELECT
            *
        FROM
            XMH_ADMIN
        WHERE
            USERNAME = #{username}
    </select>

    <select id="queryAdmin" parameterType="com.my.test.pojo.Admin" resultMap="adminAndRoles">
        SELECT A.ADMIN_ID, A.CREATE_DATE, A.MODIFY_DATE, A.DEPARTMENT,EMAIL,A.IS_ENABLED,IS_LOCKED,
            LOCKED_DATE, LOGIN_DATE, LOGIN_FAILURE_COUNT, LOGIN_IP, A.NAME, PASSWORD, USERNAME, NICKNAME, XR.NAME, XR.IS_SYSTEM, XAR.ROLES_ID
        FROM
            XMH_ADMIN A, XMH_ROLE XR, XMH_ADMIN_ROLE XAR
        WHERE
            A.ADMIN_ID = XAR.ADMINS_ID AND XR.ROLE_ID = XAR.ROLES_ID
        <if test="username !=null and username != ''"> AND A.USERNAME = #{username,jdbcType=VARCHAR}</if>
        <if test="adminId !=null and adminId != ''"> AND  A.ADMIN_ID = #{adminId,jdbcType=BIGINT}</if>
    </select>

    <update id="updateAdmin" parameterType="com.my.test.pojo.Admin">
        UPDATE XMH_ADMIN
        <set>
            <if test="isLocked != null">
                IS_LOCKED = #{isLocked,jdbcType=VARCHAR},
            </if>
            <if test="loginFailureCount != null">
                LOGIN_FAILURE_COUNT = #{loginFailureCount,jdbcType=INTEGER},
            </if>
            <if test="loginIp != null">
                LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
            </if>
            <if test="loginDate != null">
                LOGIN_DATE = #{loginDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE ADMIN_ID = #{adminId}
    </update>
    <select id="queryAdminList" resultMap="adminAndRoles" parameterType="com.my.test.pojo.Admin">
        SELECT
            A.ADMIN_ID, A.CREATE_DATE, A.MODIFY_DATE, A.DEPARTMENT,EMAIL,A.IS_ENABLED,IS_LOCKED, LOCKED_DATE,LOGIN_DATE,LOGIN_FAILURE_COUNT,LOGIN_IP,A.NAME,PASSWORD,USERNAME,NICKNAME,XR.NAME,XR.IS_SYSTEM
        FROM
            XMH_ADMIN A,XMH_ROLE XR,XMH_ADMIN_ROLE XAR
        WHERE
            A.ADMIN_ID = XAR.ADMINS_ID AND  XR.ROLE_ID = XAR.ROLES_ID
    </select>

    <insert id="addAdmin" parameterType="com.my.test.pojo.Admin">
        INSERT INTO  XMH_ADMIN(
            ADMIN_ID,
            USERNAME,
            NICKNAME,
            NAME,
            CREATE_DATE,
            PASSWORD,
            DEPARTMENT,
            EMAIL,
            LOGIN_IP,
            MODIFY_DATE,
            IS_ENABLED,
            IS_LOCKED,
            LOCKED_DATE,
            LOGIN_DATE,
            LOGIN_FAILURE_COUNT
        )VALUES (
            #{adminId},
            #{username},
            #{nickname},
            #{name},
            #{createdate},
            #{password},
            #{department},
            #{email},
            #{loginip},
            #{modifydate},
            #{isenabled},
            #{islocked},
            #{lockeddate},
            #{logindate},
            #{loginfailurecount}
        )
    </insert>

</mapper>