<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.test.mapper.AuthorityCategoryMapper">
    <resultMap id="BaseResultMap" type="com.my.test.pojo.AuthorityCategory">
        <id column="AUTHORITY_CATEGORY_ID" property="authorityCategoryId" jdbcType="BIGINT"/>
        <result column="AUTHORITY_CATEGORY_NAME" property="authorityCategoryName" jdbcType="VARCHAR"/>
        <result column="ORDERS" property="orders" jdbcType="INTEGER"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="authorityCategoryAndAuthorities" type="com.my.test.pojo.AuthorityCategory" extends="BaseResultMap">
        <collection property="authorities" ofType="com.my.test.pojo.Authority">
            <id column="AUTHORITY_ID" property="authorityId" jdbcType="BIGINT"/>
            <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
            <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP"/>
            <result column="NAME" property="name" jdbcType="VARCHAR"/>
            <result column="AUTHORITY_VALUE" property="authorityValue" jdbcType="VARCHAR"/>
            <result column="AUTHORITY_CATEGORY_ID" property="authorityCategoryId" jdbcType="BIGINT"/>
            <result column="PATH" property="path" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        AUTHORITY_CATEGORY_ID,CREATE_DATE,MODIFY_DATE,ORDERS,AUTHORITY_CATEGORY_NAME
    </sql>

    <insert id="addAuthorityCategory" parameterType="com.my.test.pojo.AuthorityCategory">
        INSERT INTO  XMH_AUTHORITY_CATEGORY(
            AUTHORITY_CATEGORY_ID,
            AUTHORITY_CATEGORY_NAME,
            ORDERS,
            CREATE_DATE
        )VALUES (
            #{authorityCategoryId},
            #{authorityCategoryName},
            #{orders},
            #{createDate}
        )
    </insert>

    <select id="queryAuthorityCategoryList" resultMap="authorityCategoryAndAuthorities" parameterType="com.my.test.pojo.AuthorityCategory">
        SELECT
            XAC.AUTHORITY_CATEGORY_NAME, XAC.AUTHORITY_CATEGORY_ID, XA.AUTHORITY_ID, XA.CREATE_DATE, XA.MODIFY_DATE, XA.NAME, XA.AUTHORITY_VALUE, XA.AUTHORITY_CATEGORY_ID, XA.PATH
        FROM
            XMH_AUTHORITY_CATEGORY XAC, XMH_AUTHORITY XA
        WHERE
            XA.AUTHORITY_CATEGORY_ID = XAC.AUTHORITY_CATEGORY_ID
        ORDER BY XAC.CREATE_DATE DESC
    </select>

    <delete id="delAuthorityCategory" parameterType="java.lang.Long" >
        DELETE FROM XMH_AUTHORITY_CATEGORY
        WHERE AUTHORITY_CATEGORY_ID = #{authorityCategoryId,jdbcType=BIGINT}
    </delete>

    <update id="updateAuthorityCategory" parameterType="com.my.test.pojo.AuthorityCategory">
        UPDATE
            XMH_AUTHORITY_CATEGORY
        <set>
            <if test="orders !=null">
                ORDERS = #{orders},
            </if>
            <if test="authorityCategoryName !=null">
                AUTHORITY_CATEGORY_NAME = #{authorityCategoryName}
            </if>
        </set>
        WHERE
        AUTHORITY_CATEGORY_ID = #{authorityCategoryId}
    </update>

    <select id="queryAuthorityCategory" parameterType="com.my.test.pojo.AuthorityCategory" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            XMH_AUTHORITY_CATEGORY
        WHERE
            AUTHORITY_CATEGORY_ID = #{authorityCategoryId}
    </select>

</mapper>